# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.source.js':
  'strict mode':
    'prefix': 'st'
    'body': '\'use strict\';'
  '[classList] .add':
    'prefix': 'cla'
    'body': '${1:element}.classList.add(\'${2:class}\');'
  '[classList] .remove':
    'prefix': 'clr'
    'body': '${1:element}.classList.remove(\'${2:class}\');'
  '[classList] .toggle':
    'prefix': 'clt'
    'body': '${1:element}.classList.toggle(\'${2:class}\');'
  'getAttribute':
    'prefix': 'geta'
    'body': '${1:element}.getAttribute(\'${2:attr}\');'
  'setAttribute':
    'prefix': 'seta'
    'body': '${1:element}.setAttribute(\'${2:attr}\');'
  'querySelector':
    'prefix': 'qs'
    'body': '${1:document}.querySelector(\'${2:selector}\');'
  'querySelectorAll':
    'prefix': 'qsa'
    'body': '${1:document}.querySelectorAll(\'${2:selector}\');'
  'JSON.parse':
    'prefix': 'jp'
    'body': 'JSON.parse(${1:obj});'
  'JSON.stringify':
    'prefix': 'js'
    'body': 'JSON.stringify(${1:obj});'
  'console.log':
    'prefix': 'log'
    'body': 'console.log({${1:crash}});$2'
  'console.log highlight':
    'prefix': 'logh'
    'body': 'console.log(\'%c ${1:value}\',\'color: #ffa237\', ${1:value});$2'
  'debugger':
    'prefix': 'de'
    'body': 'debugger;'



'.text.html.vue':
  'Vue Single File Component':
    prefix: 'vsf'
    body: """
      <template>
        <div></div>
      </template>
      <script>
        export default {
        }
      </script>
      <style scoped>
      </style>
    """
  'script':
    'prefix': 'script'
    'body': """
      <script>
        export default {
          $1
        }
      </script>
    """
  'style':
    'prefix': 'style'
    'body': '<style scoped>$1</style>'
